<div class="toolbar-container">
    <toolbar></toolbar>
</div>
@if (!currentCloudBoard) {
    <div class="d-flex justify-content-center align-items-center vh-100">
    <i>No Cloudboard loaded yet..</i>
    </div>
}
@else {
    <f-flow fDraggable>
        <f-canvas>
            <!-- Render all connections from the cloudboard data -->
            @for (connector of currentCloudBoard.connectors; track connector.id) {
                <f-connection 
                    [fOutputId]="connector.fromNodeId" 
                    [fInputId]="connector.toNodeId">
                </f-connection>
            }

            <!-- Render all nodes from the cloudboard data -->
            @for (node of currentCloudBoard.nodes; track node.id) {
                <div 
                    fNode 
                    fDragHandle 
                    [fNodePosition]="node.position"
                    (fNodePositionChange)="onNodePositionChanged($event, node)"
                    fNodeOutput 
                    [fOutputId]="node.id"
                    fOutputConnectableSide="right"
                    fNodeInput
                    [fInputId]="node.id"
                    fInputConnectableSide="left">
                    {{ node.name }}
                </div>
            }
        </f-canvas>
    </f-flow>
}