<!-- Popup component shows for confirmation of board deletion -->
<p-confirmpopup #confirm />

<!-- Popover to show all stored/available boards, loading and deletion -->
<p-popover #popover (onShow)="refreshBoards()">
    <div class="flex flex-col w-48">
        @for (board of this.availableBoards; track board.id) {
        <p-button text severity="secondary" (click)="onOpen(board.id!); popover.hide()"
            styleClass="w-full justify-stretch! gap-2 items-center">
            <i class="pi pi-file"></i>
            <span class="grow text-left truncate">{{board.name}}</span>
            <i class="pi pi-trash" (click)="onDelete(board.id!, $event); $event.stopPropagation()"></i>
        </p-button>
        }
    </div>
</p-popover>

<!-- Horizontal main menu bar. -->
<p-menubar #menuBar>
    <ng-template #start>
        <p-button icon="pi pi-fw pi-plus" label="New" text severity="secondary" (click)="onCreate()">
        </p-button>
        <p-button icon="pi pi-fw pi-download" label="Open" text severity="secondary" (click)="popover.toggle($event)">
        </p-button>
        <p-button icon="pi pi-fw pi-cog" label="" text severity="secondary">
        </p-button>
    </ng-template>
</p-menubar>

<!-- Vertical toolbar. -->
<p-toolbar class="mt-3">
    <ng-template #center>
        <p-button icon="pi pi-fw pi-search-plus" text severity="secondary" (click)="flowControlService.zoomIn()">
        </p-button>
        <p-button icon="pi pi-fw pi-search-minus" text severity="secondary" (click)="flowControlService.zoomOut()">
        </p-button>
        <p-button icon="pi pi-fw pi-times-circle" text severity="secondary" (click)="flowControlService.resetZoom()">
        </p-button>
    </ng-template>
</p-toolbar>