<div class="btn-group-vertical">
    <ng-template #popoverTemplate>
        <div class="popover-header">
            <h5 class="popover-title">Open Cloudboard...</h5>
        </div>
        <div class="list-group">
            @for (board of this.availableBoards; track board) {
                <button type="button" class="d-flex list-group-item list-group-item-action justify-content-between" (click)="onOpen(board.id)">
                    <span>{{board.name}}</span>
                    <i class="bi bi-trash" (click)="onDelete(board.id, confirmModal);$event.stopPropagation()"></i>
                </button>
            }
        </div>
    </ng-template>

    <ng-template #confirmModal let-modal>
        <div class="modal-header">
			<h4 class="modal-title" id="modal-title">About to delete Cloudboard...</h4>
			<button
                title="Close"
				type="button"
				class="btn-close"
				aria-describedby="modal-title"
				(click)="modal.dismiss('dismiss')"
			></button>
		</div>
		<div class="modal-body">
			<p>
				<strong>Are you sure you want to delete <span class="text-primary">{{ deletionBoard.name }}</span> profile?</strong>
			</p>
			<p>
				All information associated to this user Cloudboard will be permanently deleted.
				<span class="text-danger">This operation can not be undone.</span>
			</p>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel')">Cancel</button>
			<button type="button" class="btn btn-danger" (click)="modal.close('ok')">Ok</button>
		</div>
    </ng-template>

    <!-- display the actual command buttons -->
    @for (button of buttons; track button) {
        @if (button.icon == 'separator') {
            <div class="separator"></div>
        }
        @else {
            <button
                title="node"
                class="btn btn-outline-secondary"
                type="button"
                [title]="button.tooltip"
                (click)="button.action()"
                placement="end"
                [ngbPopover]="button.popover ? popoverTemplate : null"
            >
                <i [ngClass]="'bi bi-'+button.icon+' h3'"></i>
            </button>
        }
    }
</div>
