:host {
    position: fixed;
    z-index: 10;
    margin: 2em 3em;
    pointer-events: none;
}

:host ::ng-deep p-toolbar {
    display: inline-flex;
}

:host ::ng-deep .p-toolbar {
    padding: 0;
    pointer-events: all;
}

:host ::ng-deep .p-toolbar-center {
    flex-direction: column;
}

:host ::ng-deep .p-menubar {
    pointer-events: all;
}
