<!-- Vertical toolbar. -->
<p-toolbar class="mt-3">
    <ng-template #center>
        <p-button icon="pi pi-fw pi-search-plus" text severity="secondary" (click)="flowControlService.zoomIn()">
        </p-button>
        <p-button icon="pi pi-fw pi-search-minus" text severity="secondary" (click)="flowControlService.zoomOut()">
        </p-button>
        <p-button icon="pi pi-fw pi-times-circle" text severity="secondary" (click)="flowControlService.resetZoom()">
        </p-button>
    </ng-template>
</p-toolbar>